
.block{
    display: flex;
}
.drop{
    min-height: 60px;
 
    min-height: 60px;
    max-width: 348px;
    margin-left: 24px;


}
.notes{
    margin-left: 2%;
}
.as{
    display: flex;
}
.background{
    background-color: #F6F6F6;
    padding: 3%;
    margin: 2%;
    margin-left: 12%;
}
.submit{
    display: flex;
    justify-content: flex-end;
}